<div id="<%= dom_id author %>">
  <h2>
    <strong>Author:</strong>
    <%= author.name %>
  </h2>
  <% author.books.each do |book| %>
    <p>
      <%= book.title %> | <%= link_to "View Book", book %>
    </p>
  <% end %>
</div>
